.nav-item {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-gray-very-dark);
  cursor: pointer;
}

.nav-item.-light {
  color: var(--color-gray-zero);
}

@media all and (min-width: 1280px) {
  .nav-item {
    font-size: 18px;
  }
}