.nav-item {
     list-style: none;
     font-size: 14px;
     font-weight: bold;
     text-decoration: none;
     text-transform: uppercase;
     color:  var(--color-gray-dark);
     cursor: pointer;
   }
   