.table {
     box-sizing: border-box;
     border-radius: var(--spacing-radius);
     background-color: var(--color-gray-zero);
     box-shadow: 0 3px 6px 0 var(--color-gray-very-transparent);
     z-index: 5;
}

