.header-about {
     box-sizing: border-box;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: var(--spacing-medium) var(--spacing-big);
     margin-bottom: var(--spacing-very-big);
}

.header-about > .nav-item {
     margin-left: auto;
     margin-right: var(--spacing-small);
}