.history-game {
     width: 100%;
}

.history-game > .action {
     margin-bottom: var(--spacing-medium);
     display: none;
}

.history-game .tag-game {
     width: 130px;
     box-sizing: border-box;
     display: inline-block;
}

@media all and (min-width: 1280px) {
     .history-game {
          width: 210px;
     }
}
