.menu-hamburg {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 44px;
     height: 44px;
}

.menu-hamburg .bar {
     position: absolute;
     width: 25px;
     height: 3px;
     background-color: var(--color-gray-dark);
     border-radius: 5px;
}


.menu-hamburg .bar:before {
     content: "";
     position: absolute;
     width: 25px;
     height: 3px;
     background: var(--color-gray-dark);
     border-radius: 5px;
     top: -7px;
}

.menu-hamburg .bar:after {
     content: "";
     position: absolute;
     width: 25px;
     height: 3px;
     background: var(--color-gray-dark);
     border-radius: 5px;
     top: 7px;
}
