.app-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 35px;
}

.app-header .nav-bar {
  display: flex;
  align-items: center;
  margin-right: -10px;
}