.app-header {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 34px;
}

.app-header > .nav-item {
     margin-left: auto;
     margin-right: 15px;
}

.app-header > .menu-hamburg {
     width: 25px;
}
