:root {
  --color-first: #f25a70; 
  --color-gray-very-dark: #3a4042;
  --color-gray-very-transparent: rgba(58, 64, 66, 0.2);
  --color-gray-dark: #707070;
  --color-gray-medium: #e5e5e5;
  --color-gray-light: #f1f1f1;
  --color-gray-clean: #eee;
  --color-gray-zero: #fff;
  --color-gray-medium-2: #9b9b9b;
  --color-result: #eff25a;
}
