.player-o {
     position: relative;
     width: 84px;
     height: 84px;
     display: block;
     cursor: pointer;

}

.player-o::before {
     content: "";
     box-sizing: border-box;
     display: block;
     width: 42px;
     height: 42px;
     border: 6px solid var(--color-gray-dark);
     border-radius: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform-origin: center;
}

.player-o::before {
     transform: translateX(-50%) translateY(-50%);
}
