.header-game {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 34px;
}

.header-game > .nav-item {
     margin-left: auto;
     margin-right: 15px;
}

.header-game > .menu-game {
     width: 25px;
}
