.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.app > .header-game {
  margin-bottom: 85px;
}

.app > .table-game {
  width: 80vw;
  height: 80vw;
  margin-bottom: 41px;
}
