.App {
  width: 360px;
  height: 620px;
  margin: 20px auto;
  background-color: rgb(240, 240, 240);
}

.App-logo {
  width: 131px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
  margin: 0;
}

.navItem {
  list-style: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #707070;
  cursor: pointer;
}
