.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.app > .header-game {
  margin-bottom: 85px;
}

.app > .group > .table-game {
  width: 80vw;
  height: 80vw;
  max-width: 330px;
  max-height: 330px;
  margin-bottom: 41px;
}

.app > .group > .label-event {
  margin-bottom: var(--spacing-big);
}

.app > .history-game {
  display: none;
}

/* .app .main-input:checked ~ .history-game {
  display: block;
} */

.app > .history-game.-active {
  display: block;
}

.app > .history-game > .action {
  display: none;
}

.app > .history-game > .action.-active {
  display: block;
}

@media all and (min-width: 520px) {
  .label-event {
       width: 100%;
       display: flex;
       justify-content: center;
  }
}

@media all and (min-width: 1280px) {
  .app {
    width: 100%;
  }
}